{% extends "base_generic.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'contentapp/css/style.css' %}">

<div class="row">
  <div class="col">
    <h1>Add figure</h1>
    <div class="row">
      <div class="col-2">
        Choose language:
      </div>
      <div class="col-1">
        <select class="form-control" name="langs" id="langs" onchange="changeLang(this.value)">
          <option value="fi">Fi</option>
          <option value="sv">Sv</option>
          <option value="en">En</option>>
        </select>
      </div>
    </div>

    <script>
      function changeLang(val) {
        var fi_form = document.getElementById("fi");
        var sv_form = document.getElementById("sv");
        var en_form = document.getElementById("en");
        var currentLang = ''

        switch (val) {
          case 'sv': {
            sv_form.style.display = "block";
            fi_form.style.display = "none";
            en_form.style.display = "none";
            break;
          }
          case 'en': {
            en_form.style.display = "block";
            fi_form.style.display = "none";
            sv_form.style.display = "none";
            break;
          }
          default: {
            fi_form.style.display = "block";
            sv_form.style.display = "none";
            en_form.style.display = "none";
          }
        }
      }
    </script>

    <form method="post" enctype="multipart/form-data">{% csrf_token %}
      {{ form.media }}
      {{ form.non_field_errors }}
      <div class="row">
        <div class="col-2">
          Choose parent
        </div>
        <div class="col-3">
          {{ form.figure }}
        </div>
      </div>

      <!-- Finnish content -->
      <div id="fi" class="row section">
        <div class="col-12">
          {{ form.title_fi.errors }}
          <label class="strong">Title</label>
          {{ form.title_fi }}
          <label id="testTitle"></label>
        </div>
        <div class="col-12">
          {{ form.iframe_fi.errors }}
          <label class="strong">iFrame</label>
          {{ form.iframe_fi }}
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-12">
              {{ form.description_fi.errors }}
              <label class="strong">Description</label>
            </div>
            <div class="col-12">
              {{ form.description_fi }}
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-12">
              {{ form.info_fi.errors }}
              <label class="strong">Info</label>
            </div>
            <div class="col-12">
              {{ form.info_fi }}
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-12">
              {{ form.source_fi.errors }}
              <label class="strong">Source</label>
            </div>
            <div class="col-12">
              {{ form.source_fi }}
            </div>
          </div>
        </div>
      </div>

      <!-- Swedish content -->
      <div id="sv" class="row section" style="display: none;">
        <div class="col-12 pb-4">
          {{ form.title_sv.errors }}
          <label class="strong">Title</label>
          {{ form.title_sv }}
        </div>
        <div class="col-12">
          {{ form.iframe_sv.errors }}
          <label class="strong">iFrame</label>
          {{ form.iframe_sv }}
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-12">
              {{ form.description_sv.errors }}
              <label class="strong">Description</label>
            </div>
            <div class="col-12">
              {{ form.description_sv }}
            </div>
          </div>
        </div>
      </div>

      <!-- English content -->
      <div id="en" class="row section" style="display: none;">
        <div class="col-12 pb-4">
          {{ form.title_en.errors }}
          <label class="strong">Title</label>
          {{ form.title_en }}
        </div>
        <div class="col-12">
          {{ form.iframe_en.errors }}
          <label class="strong">iFrame</label>
          {{ form.iframe_en }}
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-12">
              {{ form.description_en.errors }}
              <label class="strong">Description</label>
            </div>
            <div class="col-12">
              {{ form.description_en }}
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-12">
              {{ form.info_en.errors }}
              <label class="strong">Info</label>
            </div>
            <div class="col-12">
              {{ form.info_en }}
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-12">
              {{ form.source_en.errors }}
              <label class="strong">Source</label>
            </div>
            <div class="col-12">
              {{ form.source_en }}
            </div>
          </div>
        </div>
      </div>
      
      <!-- Thumbnail upload -->
      <div class="row section">
        <div class="col-12">
          <label class="strong">Thumbnail</label>
          <div class="row">
            <div class="col-10">
              {{ form.thumbnail }}
            </div>
          </div>
        </div>
      </div>

      <div class="row section">
        <div class="col-12">
          <button class="btn btn-primary" type="submit" value="Submit">Save</button>
          <a href="/figures"><button class="btn btn-secondary" type="button" value="Cancel">Cancel</button></a>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}