{% extends "base_generic.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'shortcuts/css/style.css' %}">
    <div class="row">
        <div class="col">
            <h1>Shortcuts</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row list-group">
                {% for shortcut in object_list %}
                <div class="col list-group-item">
                    <div class="row d-flex justify-content-between">
                        <div class="col-10">{{ shortcut.title_fi }}</div>
                        <!-- <div class="col-auto"><a href="{% url "shortcut_view" shortcut.id %}">view</a></div> -->
                        <div class="col-auto"><a href="{% url "shortcut_edit" shortcut.id %}">edit</a></div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
