.section {
    padding: 1rem 0;
}

.shortcut h2 {
    font-size: 1.1rem;
    line-height: 1.6rem;
    font-weight: 500;
}

.strong {
    font-weight: bold;
}

ul.errorlist.nonfield {
    padding: 0;
    list-style: none;
    color: red;
}

.cover-img {
    height: 150px;
    width: 100%;
}

.cover-img img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    transition: .2s linear;
}

.caption {
    background: #e8e8f5;
    padding: 10px;
}

.shortcut:hover {
    cursor: pointer;
}

.shortcut:hover .caption {
    background: #4546b9;
    color: #fff;
}

img.preview {
    max-width: 167px;
    height: auto;
}

#snackbar {
    visibility: hidden;
    min-width: 12rem;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    z-index: 1;
    bottom: 2rem;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: .5rem;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }