{% extends "base_generic.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'pages/css/style.css' %}">
    <div class="row">
        <div class="col">
            <h1>Pages</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col-10">Title</div>
                <div class="col-auto">View</div>
                <div class="col-auto">Edit</div>
                <!-- <div class="col-auto">Delete</div> -->
            </div>
            {% for page in object_list %}
            <div class="row list-item">
                <div class="col-10">{{ page.title_fi }}</div>
                <div class="col-auto"><a href="{% url "page_view" page.id %}">view</a></div>
                <div class="col-auto"><a href="{% url "page_edit" page.id %}">edit</a></div>
                <!-- <div class="col-auto"><a href="{% url "page_delete" page.id %}">delete</a></div> -->
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
